body{
    background: url('../images/bg-desktop.svg') no-repeat center;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    margin: 0 auto;
}

.header{
    padding: 50px 70px;
}

.header .logo{
    width: 200px;
}

.main{
    display: flex;
    padding: 0 70px;
}

.main img{
    width: 100%;
}

.main .informacoes{
    width: 100%;
    padding: 50px;
}

.main .informacoes .titulo,
.main .informacoes .descricao{
    color: white;
}

.main .informacoes .titulo{
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 50px;
}

.main .informacoes .descricao{
    font-size: 20px;
    margin-bottom: 50px;
}

.main .informacoes .btn-register{
    background-color: white;
    color: hsl(257, 40%, 49%);
    padding: 15px 60px;
    border-radius: 30px;
    font-size: 20px;
    transition: 0.3s;
}

.main .informacoes .btn-register:hover{
    color: white;
    background-color: hsl(300, 69%, 71%);
}

.footer{
    padding: 30px 90px;
    display: flex;
    flex-direction: row-reverse;
}

.footer .social{
    display: flex;
}

.footer .social a{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 50%;
    margin-left: 20px;
    transition: 0.3s;
}

.footer .social a .fab{
    color: white;
    font-size: 20px;
    padding: 15px;
    transition: 0.3s;
}

.footer .social a:hover{
    border-color: hsl(300, 69%, 71%);
}

.footer .social a i:hover{
    color: hsl(300, 69%, 71%);
}